body {
    background-image: url("shay.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: hsl(0, 88%, 51%);
    color: white;
    padding: 15px 32px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 15px 32px;
    margin: 10px;
    font-size: 18px;
    border: none;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#yes-button {
    background-color: #4CAF50;
}

#no-button {
    background-color: #f44336;
    position: absolute;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
        padding: 10px 20px;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
    }
}
